
$namespace:'wx';
$theme_header:'-';

$theme_a:rgba(156, 219, 215, 1);
$lify_b:#353535;
$theme_c:rgba(254, 224, 224, 1);
$theme_co:rgba(254, 224, 224, 0.2);
$progress_a:#FD687C;
$progress_a_border:#FFDBE0;
$progress_b:#555DFE;
$progress_b_border:#D8DAFF;
$progress_default:#EBEBEB;
$lify_e:#FFC52B;